 /* Reset */

 @font-face {
     font-family: 'GoshaSansLight';
     src: url(fonts/GoshaSans-Ultralight.ttf);
     font-weight: 200;
     font-style: normal;
 }


 @font-face {
     font-family: 'GoshaSansRegular';
     src: url(fonts/GoshaSans-Light.ttf);
     font-weight: 300;
     font-style: normal;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* Body */
 body {
     font-family: GoshaSansLight;
     font-weight: lighter;
     background-color: #000;
     color: whitesmoke;
     line-height: 1.6;
 }

 .whole-content {
     width: 94vw;
     border: 1.5px solid silver;
     margin: 8vh auto;
 }

 /* Header */
 header {
     background: #000;
     border-bottom: 1.5px solid silver;

 }

 .line {
     width: 50%;
     height: 15vh;
     border-right: 1.2px solid whitesmoke;
 }

 .nav {
     height: 3rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     font-weight: bold;
     font-family: GoshaSansRegular;

 }

 .nav .logo {
     font-size: 1.5rem;
     padding-inline: 20px;
     border-right: 1.5px solid silver;
     height: 3rem;
     display: flex;
     align-items: center;

 }

 .nav ul {
     list-style: none;
     display: flex;
     right: 0;
 }

 .nav ul li {
     border-left: 1.5px solid silver;
     padding-inline: 20px;
     height: 3rem;
     width: fit-content;
     display: flex;
     align-items: center;


 }

 .nav ul li a {
     color: #fff;
     text-decoration: none;
     font-size: 1rem;
 }

 .nav ul li a:hover {
     text-decoration: underline;
 }

 /* Intro */
 .intro {
     text-align: center;
     display: flex;
     flex-direction: column;
     padding: 4rem 0;
     font-size: 3rem;
     font-family: GoshaSansLight;
     border-bottom: 1.5px solid silver;
 }

 .inro .ct1 {
     font-size: 3rem;
     font-family: GoshaSansRegular;


 }

 .intro p {
     line-height: 2.5rem;
     font-size: 2rem;

 }



 /* About */
 .about {
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 2rem 20px;
     font-size: 2.2rem;
     margin: auto;
     border-bottom: 1.5px solid silver;
 }

 .aboutContent {
     max-width: 800px;
 }

 .shorts ,.beer{
    border: 1px solid silver;
    border-radius: 45%;
    display: inline-block;
    width: 10%;
  
 }

 .shorts:hover,.beer:hover{
    background: rgb(255, 255, 255);
 }

 /* Articles */
 .articles {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-content: space-around;
     border-bottom: 1.5px solid silver;
     min-height: 400px;

 }

 .article-card {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border-inline: .75px solid silver;
     text-align: center;
 }

 .article-card img {
     margin: 2rem auto;
     width: 75%;
     height: 30%;
 }

 .article-info {
     padding: 1rem;
     margin-bottom: 1.2rem;
 }

 .article-info .date {
     color: #bbb;
     font-size: 0.9rem;
 }

 .article-info h3 {
     margin: 1rem 0;
     font-size: 1.2rem;
 }

 .article-info p {
     margin: 1rem 0;
     color: #ccc;
     font-size: 1rem;
 }

 .article-info a {
     margin: 1rem 0;
     color: #ff6600;
     text-decoration: none;
     font-size: 1rem;
 }

 .article-info a:hover {
     text-decoration: underline;
 }

 .button {
     display: inline-block;
     padding: 10px 20px;
     font-size: 16px;
     font-family: 'Courier New', Courier, monospace;
     color: white;
     background-color: black;
     border: 2px solid white;
     text-decoration: none;
     position: relative;
     transition: all 0.3s ease;
 }

 .button:hover {
     color: #000;
     background-color: white;
 }

 .button::after {
     content: '';
     position: absolute;
     top: 5px;
     left: 5px;
     right: 0;
     bottom: 0;
     border: 2px solid white;
     transition: all 0.3s ease;
     z-index: -1;
     background-color: white;
     width: 100%;
     height: 100%;
 }

 .button:hover::after {
     top: -1px;
     left: -1px;
 }

 .arrow {
     display: inline-block;
     transition: all 0.3s ease;
 }

 .button:hover .arrow {
     transform: translateX(3px);
     transform: scale(2);
 }






 .imageAndScroll {
     min-height: 500px;
     border-bottom: 1px solid silver;
     display: grid;
     width: 100%;
     grid-template-columns: repeat(2, 1fr);

 }

 .leftImageSec {
     min-width: 50%;
     border-right: 1px solid silver;
     display: flex;
     align-items: center;
     justify-content: center;
 }


 #randomImage{
   
max-width: 90%;
max-height: 500px;
min-height: 90%;

 }
 .rightScrollText {
     min-width: 50%;
     display: grid;
     grid-template-rows: repeat(3, 1fr);
 }

 .firstScText {
     height: fit-content;
     display: flex;
     align-items: center;
     border-bottom: 1px solid rgb(255, 255, 255);
     overflow: hidden;
 }

 .secondScText {
     height: fit-content;
     display: flex;
     align-items: center;
     border-bottom: 1px solid rgb(255, 255, 255);
     overflow: hidden;

 }

 .thirdScText {
     height: fit-content;
     display: flex;
     align-items: center;
     border-bottom: 1px solid rgb(255, 255, 255);
     overflow: hidden;
 }



 .intContainer {
     overflow: hidden;
     background: rgb(0, 0, 0);
     white-space: nowrap;
     position: relative;


 }

 .intContainer:before,
 .intContainer:after {
     position: absolute;
     top: 0;
     width: 250px;
     height: 100%;
     content: "";
     z-index: 2;
 }

 /* 
.intContainer:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.intContainer:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
} */



 .textSlide {
     display: inline-flex;
     animation: 70s slide infinite linear;
 }

 .textSlideReverse {
     display: inline-flex;
     animation: 60s sliderev infinite linear;
 }

 .sText {
     font-size: 7rem;
     margin: 0 40px;

     font-family: goshaSansLight;

 }


 @keyframes slide {
     from {
         transform: translateX(0);
     }

     to {
         transform: translateX(-100%);
     }
 }

 @keyframes sliderev {
     from {
         transform: translateX(-100%);
     }

     to {
         transform: translateX(0%);
     }
 }







 /* Footer */
 footer {
     background: #000;
     padding: 2rem 0;
     font-family: "Silkscreen", sans-serif;
 }

 .footer-content {
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 20px;
 }

 .footer-left img {
     width: 100px;
     height: auto;
 }

 .footer-right {
     text-align: right;
 }

 .footer-right p {
     font-size: 0.9rem;
     margin-bottom: 1rem;
 }

 .social-icons a {
     margin-left: 10px;
 }

 .social-icons img {
    filter:grayscale();
     width: 20px;
     height: auto;
 }

 